*.zip
*.sln
*.db
Windows-Wrapper/Multi-Platform/.vs/
Windows-Wrapper/Multi-Platform/Debug/
Windows-Wrapper/Multi-Platform/Multi-Platform/Debug/
*.filters
*.vcxproj
Windows-Wrapper/Multi-Platform/Multi-Platform.VC.VC.opendb
Android-Wrapper/MultiPlatformProject/app/
