*.zip
*.db
Archive/
Windows-Wrapper/Multi-Platform/Multi-Platform/Project/.vs/
Windows-Wrapper/Multi-Platform/Multi-Platform/Project/Debug/
Windows-Wrapper/Multi-Platform/Multi-Platform/Project/Project/Debug/
Windows-Wrapper/Multi-Platform/Multi-Platform/Project/Project/Release/
Windows-Wrapper/Multi-Platform/Multi-Platform/Project/Project/x64/
Windows-Wrapper/Multi-Platform/Multi-Platform/Project/Release/
